.control-icon {
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.326);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.7rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-icon:hover {
  background-color: rgba(52, 52, 52, 0.326);
}

.control-icon:active {
  transform: scale(0.7);
}
