.footer {
  position: fixed;
  left: 220px;
  bottom: 8px;
  right: 0;
  width: 50%;
  background-color: rgba($main, 0.5);
  box-shadow: $shadow;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 99;
  backdrop-filter: blur(10px);
  padding: 30px 50px 0;

  .time {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    color: $text-secondary;
    font-size: 2.3rem;
    text-align: center;

    > span {
      padding: 5px;
    }
  }

  .controls {
    display: flex;
    padding: 0 2rem 0.5rem;
    align-items: center;

    .basic-controllers {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
    }

    .audio-wrapper {
      display: flex;
      flex: 1;
      justify-content: space-between;

      input {
        margin-left: 1rem;
      }
    }

    // Adjusted font-size for FontAwesome icons
    .fas,
    .far,
    .fal,
    .fab {
      font-size: 1.5em; // Adjust the value to make the icons bigger or smaller
    }
  }
}

.audio-range {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 750px) {
  .controls {
    flex-direction: column;

    .basic-controllers {
      width: 100%;
    }

    .audio-wrapper {
      margin: auto;
    }
  }
}
